
html, body {
  background-color: #f9fbfd;
}

a:link {
  color: #006bc9;
}

a:visited {
  color: #006bc9;
}

h1 {
  color: #003462;
}

h2 {
  color: #003462;
}

h3 {
  color: #003462;
}

h4 {
  color: #003462;
}

h5 {
  color: #003462;
}

p {
  color: #003462;
  font-size: 15px;
}